{% extends "layout.html" %}

{% block content %}
    <div style="background-color: rgba(244, 244, 244, 0.8); display:grid; grid-template-columns: 0.3fr 2fr 0.3fr;">
        <div class="grid-item border-0" style="background-color: rgba(244, 244, 244, 0.8); position:sticky; top:135px ; height: 50vh;padding:0;box-sizing: border-box; z-index:0 ;">
            <div class="text-start fs-3 fw-bold">
                <a href="{{url_for('filterfiction')}}" method="post">
                    <button class="btndarker text-start">
                        Fiction
                    </button>
                </a>
            </div>
            <div class="text-start fs-3 fw-bold">
                <a href="{{url_for('filternovel')}}" method="post">
                    <button class="btndarker text-start">
                        Novel
                    </button>
                </a>
            </div>
            <div class="text-start fs-3 fw-bold">
                <a href="{{url_for('filterstorybook')}}" method="post">
                    <button class="btndarker text-start">
                        Storybook
                    </button>
                </a>
            </div>
            <div class="text-start fs-3 fw-bold">
                <a href="{{url_for('filterhistory')}}" method="post">
                    <button class="btndarker text-start">
                        History
                    </button>
                </a>
            </div>
            <div class="text-start fs-3 fw-bold">
                <a href="{{url_for('filterpoetry')}}" method="post">
                    <button class="btndarker text-start">
                        Poetry
                    </button>
                </a>
            </div>
        </div>
        <div style="background-color: rgba(244, 244, 244, 0.8);">
            <div style="display: grid; grid-template-rows: 1fr 1fr;padding:10px; border:none">
            <div>
                <div class="grid-item" style="padding : 10px; border-radius: 30px;display: grid; grid-template-rows: 50px auto auto;padding:10px; background-color:white;">
                    <div class="container">
                        <a href={{url_for('findprofile', userid = postuserid, username = postname)}} style="color:black;text-decoration: none; display:grid; grid-template-columns: 30px 1fr; align-items:center; margin-bottom:10px; margin-left: 10px;">
                            <div class="col-1">
                                <img src="https://www.reshot.com/preview-assets/icons/HEXSG3N6YQ/reading-newspaper-HEXSG3N6YQ.svg" style = "height:30px;width:30px;display:block;">
                            </div>
                            <div style="margin-left:10px; font-size: 15px; font-weight:500;"class="col-2 text-start"> {{ postname }} </div>
                        </a>
                    </div>
                    <div class="text-start text-justify" style="font-size:25px; font-weight:bold;">
                        {{ title }}
                    </div>
                    <div class="text-start text-justify" style="font-size: 20px; white-space: break-spaces;" >
                        {{ content }}
                    </div>
                </div>
                <div class="grid-item" style="border-radius: 30px;padding-left: 3em; padding-right:3em;">
                    <p>Comments</p>
                    <div style="display:grid; grid-template-rows: 3em auto; margin-top:0.3em;">
                        <form action={{url_for('addcomment', postid = postid, userid = userid)}} class="form-container" method="post" style="display:grid; grid-template-columns: 10fr 1fr;margin-right: 20px; margin-left:20px">
                            <div style="display: flex ; justfiy-content : center; align-items: center;">
                                <input type="text" class="form-control" name="comment" placeholder="Add Comment..." aria-label="Title" aria-describedby="basic-addon1">
                            </div>
                            <div style="display: flex ; justfiy-content : center; align-items: center;">
                                <button class="btn btn-success" style="margin-left:10px;"type="submit">Comment</button>
                            </div>
                        </form>
                        {% for comment in comments %}
                        <div style="display: grid; grid-template-columns: 1fr 11fr auto; border-width:1px;border-style:solid;padding-top:10px; border-radius:25px; margin-bottom:5px; min-height: 120px;">
                            <div class="d-flex flex-start">
                                <a style="text-decoration: none; color: black;" href={{url_for('findprofile', userid = comment.userid, username = comment.username)}}>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" style="height:100px;"title="" alt="">
                                </a>
                            </div>
                            <div class="container" style="display: grid; grid-template-rows: auto auto">
                                <div style="display:grid; grid-template-columns: auto auto;">
                                    <div class="text-start">
                                        <button class="name" style="width: fit-content;" onclick="location.href='{{url_for('findprofile', userid = comment.userid, username = comment.username)}}'" >
                                            {{ comment.username }}
                                        </button>
                                    </div>
                                    <div class="text-end">
                                        <button class="btn btn-danger" style="width: fit-content;" onclick="location.href='{{url_for('deletecomment', commentid=comment.id, postname=postname, postid = postid)}}'" >
                                            Delete Comment
                                        </button>
                                    </div>
                                </div>
                                <div class="text-start" style="font-size: 16px;">
                                    <p class="comment" >{{ comment.comment }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="grid-item border-0" style="background-color: rgba(244, 244, 244, 0.8); position:sticky; top:135px ; height: 80vh;padding:0;box-sizing: border-box; z-index:0; margin-left: 10px;">
            <nav>
                <h3 class="text-start"style="color: rgba(100, 100, 100, 0.8)">Followings</h3>
                <ul class="overflow-auto " style="max-height: 80vh; list-style-type: none; padding:0;">
                    {% for friend in friends %}
                        <li>
                            <a style="text-decoration: none; border:none;" href={{url_for('findprofile', userid = friend.friendid, username = friend.friendname)}}>
                                <button class="btndarker text-start" >
                                    {{friend.friendname}}
                                </button>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock content %}
{% block username %}
{{username}}
{% endblock username %}
{% block pname %}
<li><a class="dropdown-item" href={{url_for('findprofile', userid = userid, username = username)}}>Profile</a></li>
{% endblock pname %}

